@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Slab:wght@300&display=swap');
      html{
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-family: 'Kanit', sans-serif;
        font-family: 'Roboto Slab', serif;
        user-select: none;
        scroll-behavior: smooth;
        width: 100%;
    }
    body {
      background: rgb(255, 255, 255);
      margin: 0;
      font-family: 'Roboto Slab', serif;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      color: hsl(300, 97%, 75%);
    }

    nav {
      height: 64px;
      display: flex;
      background-color:rgb(255, 255, 255);
      color: white;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      box-shadow: 0px 5px 10px #0008;
      font-size: 30;
      position: sticky;
      top: 0px;
      z-index: 5;
      opacity: 0.8;
    }

    nav .nav-items {
      height: 100%;
      width: calc(100% - 1rem);
      display: flex;
      margin-right: 5rem;
      justify-content: flex-end;
    }

    nav a {
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding: 0 0.75em;
      font-size: 0.5em;
      font-weight: bold;
      transition: all .2s;
      color: rgb(69, 64, 114);
    }

    nav a:hover {
      color: rgb(232, 89, 89);
    }

    #header1 {
      height: 50vw;
      font-size: 4vw;
      box-sizing: border-box;
      text-align: center;
      background-image:url('img/wallpaper_1.JPG');
      background-size: cover;
      background-position: center;
      color: #fff9;
      display: flex;
      background-attachment: fixed;
    }

    #header2 {
      height: 20vw;
      font-size: 4vw;
      box-sizing: border-box;
      text-align: center;
      background-size: cover;
      background-position: center;
      color: #fff9;
      display: flex;
      background-attachment: fixed;
      position: relative;
    }

    .header-inner1 {
      background-image: linear-gradient(to bottom, #0004, #000c);
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      font-size: 1.5em;
    }
    .header-inner2 {
      font-size: 3rem; 
      margin: 1rem;
    }
    .header-inner3 {
      font-size: 2rem; 
      margin: 1rem;
    }

    .header-inner h1,
    .header-inner h2 {
      margin: 0;
    }

    .header-inner h2 {
      font-size: 2em;
      color: #fff;
    }

    .article_1 {
      display: grid;
      grid-template-columns: 50% 50%;
      max-width:100%;
      background-color: antiquewhite;
      margin: auto;
      padding-top: 2em;
      padding-left: 20em;
      padding-right: 20em;
      padding-bottom: 5em;
      background-attachment: fixed;
      position: relative;
      gap: 4rem;
    }
    .article_7 {
      display: none;
      grid-template-columns: 50% 50%;
      max-width:100%;
      background-color: antiquewhite;
      margin: auto;
      padding-top: 2em;
      padding-left: 20em;
      padding-right: 20em;
      padding-bottom: 5em;
      background-attachment: fixed;
      position: relative;
      gap: 4rem;
    }

    .article_2 {
        display: grid;
        grid-template-columns: 50% 50%;
        max-width:100%;
        background-color: antiquewhite;
        margin: auto;
        padding-top:2em;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 0%;
        background-attachment: fixed;
        position: relative;
        gap: 4rem;
    }

      .article_3 {
        display: grid;
        grid-template-columns: auto auto auto;
        max-width:100%;
        background-color: rgb(255, 255, 255);
        margin: auto;
        padding-top: 2em;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0%;
        background-attachment: fixed;
        position: relative;
        gap: 4rem;
      }     

      .article_4 {
        display:grid;
        grid-template-columns: auto auto;
        max-width:100%;
        background-color: rgb(255, 255, 255);
        margin: auto;
        padding-top: 2em;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3em;
        background-attachment: fixed;
        position: relative;
        gap: 4rem;
      }

    .pic_h{
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-flow: column wrap;
    }

    .head_text{
        justify-content: center;
        align-items: center;
        display: flex;
        padding-top: 2rem;
        padding-bottom: 0;
        flex-flow: column wrap;
        font-size: 3.5rem;
    }

    .article {
        max-width: 900px;
        margin: auto;
        padding: 2em;
        background-attachment: fixed;
        position: relative;
      }

    .title {
      color: fff;
      background: var(--ci3);
      padding: 0.4em .5em;
      display: inline-block;
      font-size: 2.4em;
      border-radius: 15px;
      color: #357;
    }

    .subtitle {
      font-size: 1.4em;
      color: var(--ci1);
    }

    .pic {
      width: 100%;
      border-radius: 15px;
      box-shadow: 0px 5px 10px #0005;
      margin: 1em 0 2em;
    }

    .pic_me {
        width: 80%;
        border-radius: 15px;
        box-shadow: 0px 5px 10px #0005;
        object-fit: contain;
        visibility: visible
      }

    .pic_me2 {
        width: 80%;
        border-radius: 15px;
        box-shadow: 0px 5px 10px #0005;
        object-fit: contain;
        visibility: hidden;
      }

      .pic_photo {
        width: auto;
        max-height: 17em;
        background: cover;
        border-radius: 15px;
        box-shadow: 0px 5px 10px #0005;
        margin: 1em 0 2em;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

    .hr {
      display: block;
      width: 200px;
      background: hsl(250, 39%, 37%);
      height: 4px;
      margin: auto;
    }

  .image-container {
      position: relative;
      width: 100%;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-flow: column wrap;
  }
  .image {
      width: auto;
      height: 100%;
      transition: opacity 0.5s ease-in-out;
      
  }
  .hidden-image {
      position: absolute;
      width: auto;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
  }

  .image-container:hover .image {
      opacity: 0;
  }

  .image-container:hover .hidden-image {
      opacity: 1;
  }


    .head{
      margin-left: 1rem; 
      width: calc(100% - 1.5rem); 
      color:black;
    }
    #footer {
      background-image:url('img/bg4.jpg');
      padding: 2em 1 3em;
      color: #fffb;
      background-size: cover;
      background-position: top center;
    }

    .social {
      font-size: 3em;
      margin-right: 1em;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    #click {
      color: whitesmoke;
    }

    #click:hover {
      color: rgb(148, 148, 211);
    }
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5%;
    }
    
    .button1 {background-color: #c4bc8d;} /* Green */

    @media only screen and (max-width: 1000px) {
      .article_1 {
        display: none;
        grid-template-columns:100%;
        padding-top:5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
      }
      .article_7 {
        display: grid;
        grid-template-columns:100%;
        padding-top:5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
      }
      .article_2{
        grid-template-columns:100%;
      }
      .article_4{
        grid-template-columns:100%;
      }
      #me1{
        font-size: 3rem; 
        margin: 0.5rem;
      }
      #me2{
        font-size: 2.5rem; 
        margin: 0.5rem;
      }
      #me3{
        font-size: 2rem; 
        margin: 0.5rem;
      }
      .head_text{
        font-size: 3.5rem;
      }

    }
    @media only screen and (max-width: 500px) {
      #me1{
        font-size: 1.5rem; 
        margin: 0.5rem;
      }
      #me2{
        font-size: 1rem; 
        margin: 0.5rem;
      }
      #me3{
        font-size: 0.5rem; 
        margin: 0.5rem;
      }
      .pic_photo {
        width: 90%;
        border-radius: 15px;
        box-shadow: 0px 5px 10px #0005;
        margin: 1em 0 2em;
      }
      nav .nav-items{
        width: calc(50% - 1rem);
        margin-right: 2rem;
      }
      .head{
        visibility: hidden;
        
      }
      .head_text{
        margin-left: 2rem;
        margin-right: 2rem;
      }
      
    }
